.sidebar {
	position: fixed;
	width: 250px;
	height: 100%;
	margin-top: 5px;
	padding-left: 5px;
	/* left: 0px; */
	/* top: 40px; */
	background-color: #162435;
	left: -250px;
	transition: left 0.4s ease;
}

.sidemenu-text {
	text-align: center;
	line-height: 40px;
	margin-left: -5px;
	background-color: #1e3149;
}

.sidebar ul {
	margin: 0px;
	padding: 0px;
}

.sidebar a {
	color: white;
	text-decoration: none;
	line-height: 40px;
	padding-left: 5px;
	transition: color 0.2s;
	border-left: 1px solid transparent;
}

.sidebar ul li a {
	position: relative;
	display: block;
	width: 100%;
}

.change-show {
	display: none;
}

.change-show.show {
	display: block;
}

.sidebar ul ul a {
	font-size: 0.8rem;
	padding-left: 40px;
	line-height: 25px;
}

.sidebar ul a {
	transition: background-color 0.2s;
}

.sidebar ul li a span {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 15px;
	transition: transform 0.3s;
}

.sidemenu {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 10px;
	margin-left: -5px;
	background-color: #5c92d2;
}

.sidemenu-text {
	color: white;
	font-size: 1.1rem;
	letter-spacing: 1px;
	font-weight: 600;
}

.sidebar.show {
	left: 0px;
}





/* ---btn--- */

.sidebar-btn {
	position: absolute;
	z-index: 1;
	left: 10px;
	height: 25px;
	width: 25px;
	background: #1f334b;
	text-align: center;
	border-radius: 2px;
	cursor: pointer;
}

.sidebar-btn span {
	font-size: 20px;
	line-height: 25px;
	color: white;
}

.sidebar-btn.click span:before {
	content: '\f00d';
}

.first.rotate{
	transform: translateY(-50%) rotate(-180deg);
}




/* ---псевдоклассы--- */

.sidebar ul a:hover {
	color: #bce1f7;
	background-color: #20354e;
	border-left-color: #5c92d280;
}