body {
    font-family: Arial, Helvetica, sans-serif;
}

.mainwindow {
    padding: 10px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
}

.mainwindow__body {
    /* display: flex; */
    /* flex-direction: column; */
    /* height: 1000px; */
}

.mainwindow__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.mainwindow__column {
    flex: 1 0 300px;
}

.mainwindow-block_3 {
    display: flex;
    justify-content: space-between;
}

.mainwindow-block_se {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* border: 1px solid #d5d921; */
}

.mainwindow-block__column_left {
    display: flex;
    flex-direction: column;
    justify-self: start;
}

.mainwindow-block_valuta {
    display: flex;
    justify-self: center;
}

.mainwindow-block__info {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 30px;
}

.mainwindow__info {
    display: flex;
    /* justify-content: space-between; */
    flex: 1 0 500px;
}

.mainwindow__info__list {
    border: 1px solid #d5d921;
    width: 100%;
    padding: 10px;
    margin: 30px 0 0 0;
}

.mainwindow-block__header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #dfdfdf;
    margin: 0 0 20px 0;
    /* border: 1px solid #d5d921; */
}

.mainwindow-block__header_3 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #dfdfdf;
    padding: 10px;
}

.mainwindow-block__txt {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #dfdfdf;
    /* border: 1px solid #d5d921; */
    margin: 0 20px 0 20px;
}

.mainwindow-block__txt_3 {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #dfdfdf;
}

.mainwindow-block__txt_r {
    font-size: 35px;
    width: auto;
    margin: 0 auto;
}

.mainwindow-block__txt:hover {
    font-weight: bold;
    color: #d5d921;
}
.mainwindow-block__txt_3:hover {
    font-weight: bold;
    color: #d5d921;
}

.line {
    width: 1px;
    height: 200px;
    background-color: #d5d921;
}