body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 10px;
}




/* ---row--- */

.row {
    display: flex;
    flex: 1 1 auto;
}

.row-column {
    flex: 1 0 300px;
    margin: 0 5px;
}

.row-column-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.line {
    width: 1px;
    height: 200px;
    background-color: #049bf3;
    min-width: 1px;
}

.row-column-header {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: #000272;
    padding: 15px 0;
    letter-spacing: 2px;
    background-color: #049bf321;
    /* border: 1px solid #d5d921; */
}

.row-column-txt {
    font-size: 20px;
    transition: color 0.2s linear;
}

.row-column-txt-r {
    margin: 20px 0 0 0;
    font-size: 35px;
    text-align: center;
}

.row-column-txt-r::after {
    content: " ₽";
}

.row-column-txt-s::after {
    content: "  $";
}

.row-column-txt-e::after {
    content: "  €";
}

.S.column-S-3 {
    background-size: 8px;
}

.E.column-E-3 {
    background-size: 13px;
}

.row-column-valuta {
    display: flex;
    margin: 20px auto;
    max-width: 300px;
    justify-content: space-around;
}

.row-column-3-row {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 15px;
    min-width: 340px;
    box-sizing: border-box;
}

.row-column-header-3 {
    font-size: 17px;
    text-align: left;
    letter-spacing: 1px;
    min-width: 220px;
}

.row-column-se-mini {
    display: flex;
    flex: 0 0 120px;
    justify-content: space-between;
}

.row-column-txt-3 {
    font-size: 17px;
    transition: color 0.2s linear;
}




/* ---mainwindow--- */

.mainwindow {
    display: flex;
    flex: 1 1 auto;
    box-shadow: 0 0 10px #0458f362;
    margin: 20px 0;
}

.mainwindow-table {
    width: 30%;
    margin: 10px 5px 10px 10px;
    display: flex;
    flex-direction: column;
    height: 400px;
    /* border: 1px solid #d5d921; */
}

.mainwindow-info {
    /* border: 1px solid #d5d921; */
    width: 70%;
    margin: 10px 10px 10px 5px;
    display: flex;
    flex-direction: column;
}

.line-horisontal {
    height: 1px;
    background-color: #049bf3;
}

.mainwindow-table-list {
    padding: 10px;
}

.mainwindow-info-list {
    padding: 10px;
}

.footer {
    background-color: #049bf321;
    height: 30px;
}




/* ---footer--- */




/* ---псевдоклассы--- */

.row-column-txt:hover {
    font-weight: bold;
    cursor: pointer;
    color: #000272
    /* color: #d5d921; */
}

.row-column-txt-3:hover {
    font-weight: bold;
    cursor: default;
    color: #000272
    /* color: #d5d921; */
}