body {
	padding: 0;
	margin: 0;

	font-family: 'Montserrat', sans-serif;
	font-size: 15px;

	display: flex;
	flex-direction: column;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}





/* ---main--- */

.main {
	display: flex;
}

.main-content {
	width: 100%;
	padding: 5px 10px;
	transition: margin 0.4s ease;
}

.main-content.click-for-sidebar-btn {
	margin-left: 250px;
}

.row {
	/* margin: 5px 10px 0 10px; */
}

.row-main {
	display: flex;
	align-items: center;
	background-color: #162435;
	border-radius: 3px;
}

.row-column {
	flex: 1 0 300px;
	height: 130px;
}

.row-column-3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 350px;
	padding: 5px;
	margin-left: 10px;
}

.row-column-header {
	font-size: 0.9rem;
	font-weight: 600;
	text-align: center;
	/* color: #000272; */
	color: white;
	padding: 5px 0;
	letter-spacing: 2px;
	/* background-color: #049bf321; */
}

.row-column-txt {
	font-size: 1.1rem;
	transition: color 0.1s linear;
	color: white;
}

.row-column-txt-r {
	margin: 15px auto 0;
	font-size: 1.8rem;
	text-align: center;
	max-width: 250px;
}

.row-column-txt-r::after {
	content: " ₽";
}

.row-column-txt-s::after {
	content: "  $";
}

.row-column-txt-e::after {
	content: "  €";
}

.row-column-valuta {
	display: flex;
	margin: 15px auto;
	max-width: 300px;
	justify-content: space-around;
}

.row-column-3-row {
	display: flex;
	justify-content: space-between;
	padding: 2px 2px 2px 15px;
	transition: background-color 0.2s;
	border-left: 1px solid transparent;
}

.row-column-header-3 {
	font-size: 1rem;
	text-align: left;
	letter-spacing: 1px;
	/* min-width: 220px; */
}

.row-column-se-mini {
	display: flex;
	flex: 0 0 120px;
	justify-content: space-between;
}

.block-header-3 {
	color: white;
	font-size: 0.9rem;
}

.row-column-txt-3 {
	font-size: 0.9rem;
	transition: color 0.1s linear;
	color: white;
	padding-right: 5px;
}






/* ---mainwindow--- */

.mainwindow {
	display: flex;
	flex: 1 1 auto;
	margin-top: 10px;
}

.mainwindow-table {
	width: 40%;
	margin: 0px 5px 10px 0px;
	display: flex;
	flex-direction: column;
	height: 700px;
	box-shadow: 0 0 3px #0458f362;
	border-radius: 2px;
}

.mainwindow-info {
	width: 60%;
	margin: 0px 0px 10px 5px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 3px #0458f362;
	border-radius: 2px;
}

.line-horisontal {
	height: 1px;
	background-color: #049bf3;
}

.mainwindow-header {
	font-size: 0.9rem;
	font-weight: 600;
	text-align: center;
	color: #1f334b;
	padding: 5px 0;
	letter-spacing: 2px;
	/* background-color: #049bf321; */
}

.mainwindow-table-list {
	padding: 10px;
}

.page-link {
	padding: 15px 0px;
}

.a {
	font-size: 1rem;
	color: black;
	text-decoration: none;
}

.mainwindow-info-graph {
	padding: 10px;
	height: 150px;
}

.mainwindow-info-diagram {
	padding: 10px;
}




/* ---footer--- */

.footer {
	background-color: #049bf321;
	height: 30px;
}





/* ---псевдоклассы--- */

.row-column-3-row:hover {
	background-color: #20354e;
	border-left-color: #5c92d280;
}

.row-column-txt:hover {
	cursor: default;
	font-weight: 500;
}





/* ---Media--- */

/* @media (max-width: 982px) {
	.row {
		display: block;
	}
	
	.row-column {
		flex-basis: 100%;
	}

	.line {
		width: 100%;
		height: 1px;
		background-color: #049bf3;
	}

	.first-line {
		visibility: visible;
	}

	.row-column-3 {
		margin: 0 auto;
		max-width: 500px;
	}

	.row-column-3-row {
		padding: 0px;
	}
} */